<html>
	<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
	</head>
<body>

<h1>Lesson</h1>

<table class="left">
	<thead>
		<tr class="cursive">
			<th>Name</th>
			<th>Lesson Content</th>
			<th>Actions</th>
			<th>Created At</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ lesson.name }}</td>
			<td>{{ lesson.lesson_content }}</td>
			<td>
				<a href="{% url 'manage_lessons' %}">Back</a>
				[<a href="{% url 'remove_lesson' lesson.id %}">Delete</a>]</h1>
			</td>
			<td>{{ lesson.created_at }}</td>
		</tr>
		<tr>
			<form action="{% url 'update_lesson' lesson.id %}" method="post">
			{% csrf_token %}
			<td class="top"><input type="text" name="name" placeholder="Name" /></td>
			<td><textarea name="lesson_content" class="update_content" placeholder="Our volume knobs go up to 11"></textarea></td>
			<td>
				<input type="hidden" name="old_name" value="{{ lesson.name }}" />
				<input type="submit" value="Update">
			</td>
			</form>
		</tr>
	</tbody>
</table>

</body>
</html>