<html>
	<head>
		<title>Chord Jam</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'home/style.css' %}">

	</head>
<body>

<div id="headline">
        <img src="{% static 'home/headline.png' %}">
</div>

<div id="wrapper">
	<div id="chords">
		<strong><a href="/">Home</a></strong> |
                <strong><a href="{% url 'chords' %}">Chords</a></strong> |
                <strong><a href="{% url 'discovery' %}">Discovery</a></strong> |
                <strong><a href="{% url 'accounts_index' %}">Jam Room</a></strong> |
                <strong><a href="{% url 'review_us' %}">Review ChordJam</a></strong><br />

		<a href="{% url 'show' 'A' %}">A Maj</a>
        <a href="{% url 'show' 'Am' %}">A Minor</a>
        <a href="{% url 'show' 'B' %}">B Maj</a>
        <a href="{% url 'show' 'Bm' %}">B Minor</a>
        <a href="{% url 'show' 'C' %}">C Maj</a>
        <a href="{% url 'show' 'Cm' %}">C Minor</a>
        <a href="{% url 'show' 'D' %}">D Maj</a>
        <a href="{% url 'show' 'Dm' %}">D Minor</a>
        <a href="{% url 'show' 'E' %}">E Maj</a>
        <a href="{% url 'show' 'Em' %}">E Minor</a>
        <a href="{% url 'show' 'F' %}">F Maj</a>
        <a href="{% url 'show' 'Fm' %}">F Minor</a>
        <a href="{% url 'show' 'G' %}">G Maj</a>
        <a href="{% url 'show' 'Gm' %}">G Minor</a>
		<p><img src="{% static 'home/guitar_2.png' %}" width="700px" /></p>
	</div>

	<div id="chords">
		<div class="text">
		<h1>Introduction: Foundation</h1>
			<ul>
			<li>
			Chords are a simple way to start playing music on your guitar.  They run A through G (with Majors and Minors and other variations) and are the most common way to get to jamming out and having a good time.  Chords originate from scales and variations of scales, which are themselves a grouping notes that when played together complement each other in a certain way.
			</li>
			<li>
			That said, chords are simply made of notes, which also run A-G, having sharp and flat versions.  Sharp notes usually have a higher pitch of the same note (an uplifting sound) whereas Flat notes have a more dull or less enthusiastic sound.  Each have their place in any song or chord/note progression.
			</li>
			</ul>

		<h1>Chords, Notes, Frets, Strings</h1>
			<ul>
			<li>
			Each string is tuned to an open note (standard tuning low-high: E A D G B E)
			</li>
			<li>
				<ul>
				<li>
				Other Common Tunings (low to high)
				</li>
				<ul>
					<li>
					Standard Half Step Down (Flat): (Eb Ab Db Gb Bb Eb)
					</li>
					<li>
					Drop D: (D A D G B E)
					</li>
					<li>
					Drop D Half Step Down (Flat): (Db Ab Db Gb Bb Eb)
					</li>
					<li>
					Drop C: (C G C F A D)
					</li>
					<li>
					Drop C Half Step Up (Sharp): (C# G# C# F# A# D#)
					</li>
				</ul>
				</ul>
			</li>
			<li>
			Each note of each string represents a note between A and G
			</li>
			<li>
			Chords represent groups of notes in the same scale that sound sharp or flat and together create a richer sound
			<li>
			Frets make it easy to keep track of which note you are playing (notice the dots on your fretboard and guitar neck)
			</li>
			<li>
			<strong>C♯</strong> -> indicates C Sharp, which is a half step up from C (as opposed to whole step: D)
			</li>
			<li>
			<strong>C♭</strong> -> indicates C Flat, which is a half step down from C (as opposed to whole step: B)
			</li>
			</ul>
		<p></p>

		<img src="{% static 'home/chords.png' %}" alt="Classic Poster of Guitar Chords">
		</div>
	</div>
</div>

</body>
</html>
