<html>
	<head>
		<title>Chord Jam</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'home/style.css' %}">

	</head>
<body>

<div id="headline">
        <img src="{% static 'home/headline.png' %}">
</div>

<div id="wrapper">
	<div id="chords">
		<strong><a href="/">Home</a></strong> |
                <strong><a href="{% url 'chords' %}">Chords</a></strong> |
                <strong><a href="{% url 'discovery' %}">Discovery</a></strong> |
                <strong><a href="{% url 'accounts_index' %}">Jam Room</a></strong> |
                <strong><a href="{% url 'review_us' %}">Review ChordJam</a></strong><br />

		<a href="{% url 'show' 'A' %}">A Major</a>
        <a href="{% url 'show' 'Am' %}">A Minor</a>
        <a href="{% url 'show' 'B' %}">B Major</a>
        <a href="{% url 'show' 'Bm' %}">B Minor</a>
        <a href="{% url 'show' 'C' %}">C Major</a>
        <a href="{% url 'show' 'Cm' %}">C Minor</a>
        <a href="{% url 'show' 'D' %}">D Major</a>
        <a href="{% url 'show' 'Dm' %}">D Minor</a>
        <a href="{% url 'show' 'E' %}">E Major</a>
        <a href="{% url 'show' 'Em' %}">E Minor</a>
        <a href="{% url 'show' 'F' %}">F Major</a>
        <a href="{% url 'show' 'Fm' %}">F Minor</a>
        <a href="{% url 'show' 'G' %}">G Major</a>
        <a href="{% url 'show' 'Gm' %}">G Minor</a>
		<p><img src="{% static 'home/guitar_2.png' %}" width="700px" /></p>
	</div>

	<div id="chords">
	<table>
		<thead>
			<tr class="left">
				<th><h1>Reviews</h1></th>
				<th><h3> - <a href="{% url 'review_us' %}">Add Review</a></h3></th>
			</tr>
		</thead>
		<tbody>
			{% if reviews %}
			<tr>
				{% for review in reviews %}
				<td>
					<p class="bold top">{{ review.name }} says:</p></td>
				<td>
					<p>{{ review.review }}</p></td>
			</tr>
			<tr>
				<td>
					<p class="bold top">and suggests:</p></td>
				<td>
					<p>{{ review.suggestions }}</p></td>
			</tr>
			<tr>
				<td>
					<p class="bold top">Rating:</p></td>
				<td>
					<p>{{ review.rating }}</p></td>
			</tr>
			<tr>
				<td>
					<p class="bold top">on:</p></td>
				<td><p>{{ review.created_at }}</p></td>
			</tr>
			<tr>
				<td>
					<hr></td>
				<td>
					<hr></td>
			</tr>
			{% endfor %}
			{% else %}
			<tr>
				<td>
					<p>No reviews yet... Add a review!</p></td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	</div>
</div>

</body>
</html>
