<html>
	<head>
		<title> My First Template in Django </title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'quiz/style.css' %}">
	</head>
	<body>
		<h1>Q's</h1>
		{% for question in questions %}
		<p>{{question.id}} - {{question.question_text}} - {{question.pub_date}}</p>
			<div class="choice">
			{% for choice in choices %}
				{% if choice.question.id == question.id %}
				<ul>
					<li>{{ choice.choice_text }}</li>
				</ul>
				{% endif %}
			{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>