body{
	font-family: verdana;
	font-size: 12px;
	background-color: #666
}
#headline{
	background-color: #FAEDB7;
	width: 725px;
	margin: 0 auto;
}
#wrapper{
	background-color: white;
	width: 725px;
	margin: 0 auto;
	padding-top: 5px;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.9)
}
h1{
	color: maroon;
}
button{
	background-color: #FFF;
}
#songs{
	width: 700px;
	margin: 0 auto;
	border: 0;
}
#chords,#notes{
	width: 700px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.text{
	padding-left: 20px;
}
ul li{
	padding-bottom: 5px;
}
a, a:visited{
	text-decoration: none;
	transition-duration: 0.5s;
	color: #000;
}
a:hover{
	color: white;
	background-color: #A68064;
}
.button {
    color: black;
    border: 1px solid gray;
    padding-right: 7px;
    padding-left: 7px;
    margin: 1px;
    text-decoration: none;
    background-color: #e7e7e7;
    border-radius: 3px;
    transition-duration: 0.5s;
}
.button:hover{
	background-color: #A68064;
}
.chords_width{
	width: 700px;
	text-align: left;
}
.bold{
	font-weight: bold;
}
.top{
	vertical-align: top;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.top{
	vertical-align: top;
}
.member_area{
	width: 700px;
}
.bold{
	font-weight: bold;
}
.cursive{
	font-style: italic;
}
.update_content{
	width: 90%;
	height: 100px;
	background-color: #eee;
}
.underline{
	text-decoration: underline;
}
.disc{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
	border-radius: 60px;
}
.disc:hover{
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
	border-radius: 60px;
}
